<!DOCTYPE html>
<html lang="en">

{% include 'partials/head.html' %}

<body id="home" data-spy="scroll" data-target=".navbar" data-offset="60">

{% include 'partials/navigation.html' %}

<div class="jumbotron text-center">
  <h1>League of Legend Strat</h1> 
  <p>Change the game</p> 
</div>

<!-- Container (Party Section) -->
<div id="party" class="container col-l-12 text-center">
  <h2>PARTY</h2>

  {% if partyid %}

    <h4>PartyID: {{ partyid }}</h4>
    <h5>Nick: {{ nick }}</h5>

    <div id="party" class="container">
      <div class="row text-centered">
      <div class="row text-center col-sm-12">
        
        <table border="0">
        <center>
        <tr>
          <td> <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{ sumImage }}_0.jpg"></td>
          <td> <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{ sumImage }}_0.jpg"></td>
          <td> <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{ sumImage }}_0.jpg"></td>
          <td> <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{ sumImage }}_0.jpg"></td>
          <td><img src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{ sumImage }}_0.jpg"></td>   
        </tr>
        <tr>
        <!-- Nickname under images, all images at the moment-->
         <td>{{ nick }}</td>
         <td>{{ nick }}</td>
         <td>{{ nick }}</td>
         <td>{{ nick }}</td>
         <td>{{ nick }}</td>
        </tr>
        </center>
        </table> 
      </div>
      </div>
    </div>

    <h5>{{ sumImage }}</h5>


    {% if yo %}

    <h5>{{ yo }}</h5>

    {% endif %}

  {% else %}

    {% include 'partials/joinParty.html' %}

  {% endif %}

  <br>
</div>

{% include 'partials/concept.html' %}

{% include 'partials/pricing.html' %}

{% include 'partials/about.html' %}

{% include 'partials/contact.html' %}

{% include 'partials/footer.html' %}

</body>
</html>

